ToDo.txt
markdown.pl

# Mac OS/X tools #######################################################################################################

.DS_Store
_OldVersions/

# Jetbrains tools ######################################################################################################

.idea
